<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=McLaren|PT+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Template</title>
</head>
<body>
    <div class="root">
        <header class="header">
            <nav class="nav">
                <a href="#" class="logo">Logo</a>
                <ul class="menu">
                    <li class="menu__item"><a href="#">Главная</a></li>
                    <li class="menu__item"><a href="#">Новости</a></li>
                    <li class="menu__item"><a href="#">Статьи</a></li>
                    <li class="menu__item"><a href="#">Вакансии</a></li>
                </ul>
            </nav>
        </header>

        <aside class="l-aside">
            <section class="articles">
                <h3 class="title articles__title">Статьи</h3>
                <div class="articles__list">
                    <article class="article" style="background-image: url(http://varlamov.me/2016/vladikavkaz/00s.jpg);">
                        <a href="#">
                            <h4 class="article__title">Заголовок</h4>
                        </a>
                    </article>
                    <article class="article" style="background-image: url(http://russkiymir.ru/upload/medialibrary/744/744406eba72070fd4288591ec82e529f.jpg);">
                        <a href="#">
                            <h4 class="article__title">Заголовок</h4>
                        </a>
                    </article>
                    <article class="article" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2e/%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BA%D0%B0%D0%B2%D0%BA%D0%B0%D0%B7._%D0%93%D0%BE%D1%80%D0%B0_%D0%A1%D1%82%D0%BE%D0%BB%D0%BE%D0%B2%D0%B0%D1%8F.jpg);">
                        <a href="#">
                            <h4 class="article__title">Заголовок</h4>
                        </a>
                    </article>
                    <article class="article" style="background-image: url(https://avatars.mds.yandex.net/get-altay/1003740/2a00000162a6dc998f98bce0a43111fa83d9/XXL);">
                        <a href="#">
                            <h4 class="article__title">Заголовок</h4>
                        </a>
                    </article>
                </div>
            </section>
        </aside>

        <main class="main">
            <section class="main-news">
                <article class="main-news-item" style="background-image: url(http://region15.ru/wp-content/uploads/2019/10/DSC_0948.jpg)">
                    <span class="main-news-item__type">Видео</span>
                    <a href="#" class="main-news-item__info">
                        <h4 class="main-news-item__title">Название новости</h4>
                        <p class="main-news-item__desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam corporis dolore praesentium labore, nam et iure ut quaerat vero maiores!
                        </p>
                        <time class="main-news-item__date">2019-06-11</time>
                    </a>
                </article>

                <article class="main-news-item" style="background-image: url(http://alania.gov.ru/sites/default/files/styles/news_extralarge/public/media/news/photos/2019-09/DSC_9769.jpg?itok=RcZJS7aS)">
                    <span class="main-news-item__type">Видео</span>
                    <a href="#" class="main-news-item__info">
                        <h4 class="main-news-item__title">Название новости</h4>
                        <p class="main-news-item__desc">
                             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ut quaerat vero maiores!</p>
                        <time class="main-news-item__date">2019-06-11</time>  
                    </a>
                </article>

                <article class="main-news-item" style="background-image: url(http://kabar.kg/site/assets/files/45161/images-6825-1538095633.jpg)">
                    <span class="main-news-item__type">Статья</span>
                    <a href="#" class="main-news-item__info">
                        <h4 class="main-news-item__title">Название новости</h4>
                        <p class="main-news-item__desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ut quaerat vero maiores!
                        </p>
                        <time class="main-news-item__date">2019-06-11</time>
                    </a>
                </article>

                <article class="main-news-item" style="background-image: url(https://blackstarburger.ru/upload/iblock/c4f/c4fa4989ffede9a45e83abb203494f8e.jpg)">
                    <span class="main-news-item__type">Видео</span>
                    <a href="#" class="main-news-item__info">
                        <h4 class="main-news-item__title">Название новости</h4>
                        <p class="main-news-item__desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ut quaerat vero maiores!
                        </p>
                        <time class="main-news-item__date">2019-06-11</time>
                    </a>
                </article>

                <article class="main-news-item" style="background-image: url(https://www.votpusk.ru/country/ctimages/new/ru164.jpg)">
                    <span class="main-news-item__type">Новость</span>
                    <a href="#" class="main-news-item__info">
                        <h4 class="main-news-item__title">Название новости</h4>
                        <p class="main-news-item__desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam corporis dolore praesentium labore, nam et iure ut quaerat vero maiores!
                        </p>
                        <time class="main-news-item__date">2019-06-11</time>
                    </a>
                </article>
            </section>
            
            <section class="news">
                <h3 class="title news__title">Новости</h3>

                <div class="news__list">
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nulla sunt consectetur!</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum mollitia itaque doloribus repellendus consequatur doloremque, suscipit fugiat unde incidunt accusamus.</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nulla sunt consectetur!</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum mollitia itaque doloribus repellendus consequatur doloremque, suscipit fugiat unde incidunt accusamus.</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nulla sunt consectetur!</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum mollitia itaque doloribus repellendus consequatur doloremque, suscipit fugiat unde incidunt accusamus.</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nulla sunt consectetur!</a>
                        </h5>
                    </article>
                    <article class="news-item">
                        <time class="news-item__date">2019-06-11</time>
                        <h5 class="news-item__title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum mollitia itaque doloribus repellendus consequatur doloremque, suscipit fugiat unde incidunt accusamus.</a>
                        </h5>
                    </article>
                </div>

                
            </section>
        </main>

        <aside class="r-aside">
            <section class="tags">
                <h3 class="title tags__title">Теги дня</h3>
                <div class="tags__list">
                    <a href="#">#tag1</a>
                    <a href="#">#tag2</a>
                    <a href="#">#tag3</a>
                    <a href="#">#tag4</a>
                    <a href="#">#tag5</a>
                    <a href="#">#tag6</a>
                    <a href="#">#tag7</a>
                    <a href="#">#tag8</a>
                    <a href="#">#tag9</a>
                    <a href="#">#tag10</a>
                    <a href="#">#tag11</a>
                </div>
            </section>

            <section class="advertising">
                <a href="#"><img class="img-fluid" src="https://onlybet.ru/upload/000/u4/1/b/1dep-blue-350x600.gif" alt="Реклама"></a>
            </section>
        </aside>

        <footer class="footer">
            <p class="footer__copy">
                &copy; 2000—2019. «Название сайта».
            </p>
            <ul class="social">
                <li class="social__item"><a href="#"><i class="fa fa-vk"></i></a></li>
                <li class="social__item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="social__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="social__item"><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>